@font-face {
  font-family: 'ArchivoExpanded';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/ArchivoExpanded-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Archivo-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url('assets/fonts/Archivo-Medium.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.fc-form form,
.fc-form .fc-success,
.fc-form .fc-viewError {
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
}

.fc-form {
  height: calc(100vh - 4rem) !important;
}